.App{
  display:flex;
  justify-content: center;
  background: linear-gradient(
  45deg,
  hsl(240deg 100% 20%) 0%,
  hsl(289deg 100% 21%) 11%,
  hsl(315deg 100% 27%) 22%,
  hsl(329deg 100% 36%) 33%,
  hsl(337deg 100% 43%) 44%,
  hsl(357deg 91% 59%) 56%,
  hsl(17deg 100% 59%) 67%,
  hsl(34deg 100% 53%) 78%,
  hsl(45deg 100% 50%) 89%,
  hsl(55deg 100% 50%) 100%
);
}
.Accodian-main{
  margin:12px  auto 0 auto;
  height:100Vh;
  width:600px;
  background-color: gray;
  border-radius: 5px;
}
.Accodian-items{
  display:flex;
  flex-direction: row;
 
}
.Accodian-items h1{
  position:relative;
  left:20px;
}
.button{
  
  position: relative;
  margin-top: 30px;
  left:350px;
  background-color: transparent;
  border-color: transparent;
  height:2rem;
  width: 2rem;
  font-size: 30px;
}

.content{
  
  font-size:15px;
  text-align: justify;
  width:550px;
  height:auto;
  background-color: rgb(228, 224, 224);
  margin-left: 1rem;
 
  border-radius: 5px;
  

}
.Accodian-list{
  position:relative;
  background-color: rgb(191, 183, 183);
  height: auto;
  border-radius: 5px;
}
.Accordian{
  display:flex;
  flex-direction: column;
}